@import url("bootstrap.min.css");
@import url("jquery.fancybox.min.css");
@import url("jquery.dataTables.min.css");
body {
  background: #fff;
  font-size: 16px; }
  body.login {
    background: url("../images/bg-login.jpg") center center fixed;
    background-size: cover; }

.btn-pads {
  padding: 0.5rem 2rem; }

.wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto; }
  .wrapper.login {
    padding: 3rem; }
    @media (max-width: 767px) {
      .wrapper.login {
        padding: 2rem 0 1rem 0; } }
    .wrapper.login .header-app img {
      display: block;
      margin: 0px 0px 0px auto; }
      @media (max-width: 767px) {
        .wrapper.login .header-app img {
          margin: 0 auto; } }
    .wrapper.login .login-logo {
      margin-bottom: 4rem; }
      .wrapper.login .login-logo img {
        margin: 0 auto;
        display: block;
        width: 35%; }
        @media (max-width: 767px) {
          .wrapper.login .login-logo img {
            width: 50%; } }
    @media (min-width: 992px) {
      .wrapper.login .logo-app {
        margin-bottom: 3rem; } }
    .wrapper.login .logo-app a {
      display: block; }
      .wrapper.login .logo-app a img {
        display: block;
        margin: 0px auto; }
        @media (max-width: 767px) {
          .wrapper.login .logo-app a img {
            width: 75%; } }
    .wrapper.login .login-app h1 {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 1px;
      margin-bottom: 1rem; }
    .wrapper.login .login-app .form-control {
      text-align: center; }
    .wrapper.login .footer .logo-container {
      margin-top: 3rem; }
      .wrapper.login .footer .logo-container img.logo-helpapp {
        width: 15%;
        display: block;
        margin: 0 auto; }
        @media (max-width: 767px) {
          .wrapper.login .footer .logo-container img.logo-helpapp {
            width: 25%; } }
    .wrapper.login .footer p.copyright {
      font-size: 1rem;
      letter-spacing: 2px;
      text-align: center; }
      @media (max-width: 991px) {
        .wrapper.login .footer p.copyright {
          font-size: 0.8rem; } }
    .wrapper.login .footer p.legal {
      text-align: center;
      font-size: 1rem;
      line-height: 1; }
      .wrapper.login .footer p.legal svg {
        width: 140px;
        margin-left: 0.5rem; }
        .wrapper.login .footer p.legal svg path {
          fill: #1322a3; }

#trueModal {
  max-width: 1000px; }
  #trueModal .header img {
    display: block;
    margin: 0px 0px 0px auto; }
    @media (max-width: 767px) {
      #trueModal .header img {
        margin: 0 auto; } }

.dashboard .sidebar-menu {
  height: 100vh;
  padding: 3rem 1rem 2rem 1rem;
  background: #1a1a1a; }
  @media (max-width: 767px) {
    .dashboard .sidebar-menu {
      height: auto;
      padding: 0; } }
  @media (max-width: 767px) {
    .dashboard .sidebar-menu .navbar {
      padding: 0.5rem; } }
  @media (min-width: 768px) {
    .dashboard .sidebar-menu .menu-mobile {
      flex-direction: column; } }
  .dashboard .sidebar-menu .menu-mobile .adviser-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem 0;
    align-items: center;
    gap: 10px; }
    @media (max-width: 767px) {
      .dashboard .sidebar-menu .menu-mobile .adviser-info {
        grid-template-columns: 20% 80%; } }
    .dashboard .sidebar-menu .menu-mobile .adviser-info .avatar-user {
      margin: 0 auto 0 auto;
      grid-column: 1/3; }
      @media (max-width: 767px) {
        .dashboard .sidebar-menu .menu-mobile .adviser-info .avatar-user {
          grid-column: 1/2; } }
      .dashboard .sidebar-menu .menu-mobile .adviser-info .avatar-user img {
        width: 50%;
        display: block;
        margin: 0 auto; }
        @media (max-width: 767px) {
          .dashboard .sidebar-menu .menu-mobile .adviser-info .avatar-user img {
            width: 60px; } }
    .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data {
      text-align: center;
      margin: 1rem 0;
      grid-column: 1/3; }
      @media (max-width: 767px) {
        .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data {
          text-align: left;
          grid-column: 2/3;
          margin: 1rem 0; } }
      .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data h2.adviser-name {
        color: #fff;
        font-size: 1.5rem;
        margin: 0; }
        @media (min-width: 768px) and (max-width: 991px) {
          .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data h2.adviser-name {
            font-size: 1.25rem; } }
        @media (max-width: 767px) {
          .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data h2.adviser-name {
            font-size: 1.15rem; } }
      .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data h4.adviser-position {
        color: #b90000;
        text-transform: uppercase;
        margin: 0;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold; }
        @media (max-width: 767px) {
          .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data h4.adviser-position {
            font-size: 1rem; } }
      .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data p.adviser-email {
        color: #fff;
        margin: 0; }
        @media (max-width: 767px) {
          .dashboard .sidebar-menu .menu-mobile .adviser-info .asesor-data p.adviser-email {
            font-size: 0.9rem; } }
  .dashboard .sidebar-menu .menu-mobile ul.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item {
      width: 100%;
      border-bottom: 1px solid #fff;
      align-items: center;
      padding: 0.3333333333rem 0; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item:last-child {
        border-bottom: 0; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item.active a.nav-link {
        color: #b90000; }
        .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item.active a.nav-link svg path.icons {
          fill: #b90000; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item.active:hover a.nav-link {
        color: #666; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item.active:hover svg path.icons {
        fill: #666 !important; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link {
        color: #fff;
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 1fr;
        align-items: center; }
        .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link svg {
          height: 35px;
          margin: 0 auto; }
          .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link svg path.icons {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #fff; }
        .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link:hover {
          color: #666; }
          .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link:hover svg path.icons {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #666; }
  .dashboard .sidebar-menu .menu-mobile .badge {
    margin: 0 auto;
    width: 75%; }
    @media (max-width: 767px) {
      .dashboard .sidebar-menu .menu-mobile .badge {
        display: none; } }

.dashboard .content {
  padding: 2rem 2rem 2rem 3rem; }
  @media (max-width: 767px) {
    .dashboard .content {
      padding: 1rem 1rem 2rem 1rem; } }

header {
  text-align: right; }
  header h3 {
    color: #1a1a1a;
    font-size: 2rem; }
  header p.date {
    font-size: 1.5rem; }
    @media (max-width: 767px) {
      header p.date {
        font-size: 1rem; } }
  header ul {
    padding-left: 0;
    display: flex;
    margin: 0.5rem 0;
    justify-content: flex-end; }
    header ul li {
      list-style: none;
      margin: 0 0 0 0.5rem; }
      header ul li a {
        text-transform: uppercase;
        font-size: 1.25rem; }

.title-page h1 {
  letter-spacing: 1px;
  font-size: 2.25rem; }

.advice-data {
  border-bottom: 1px solid #666;
  margin-bottom: 2rem; }
  .advice-data h2 {
    color: #b90000;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0 0 0.5rem 0; }
  .advice-data ul.client-data {
    padding-left: 0; }
    .advice-data ul.client-data li {
      list-style: none; }
      .advice-data ul.client-data li span {
        font-weight: bold;
        margin-right: 0.25rem; }

.regular-form .form-group label {
  font-weight: bold; }

.regular-form .form-group .end {
  margin-top: 1.25rem; }

.table-display table.display.no-footer {
  border-bottom: 0; }

.table-display table.display thead {
  background: #666;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 0; }
  .table-display table.display thead tr th {
    font-weight: 400; }

.table-display table.display tbody {
  border-bottom: 0; }
  .table-display table.display tbody tr td span.status-badge {
    display: inline-block;
    margin-right: 0.5rem;
    width: 14px;
    height: 14px;
    border-radius: 50%; }
    .table-display table.display tbody tr td span.status-badge.resuelto {
      background: #009833; }
    .table-display table.display tbody tr td span.status-badge.enproceso {
      background: #ffcb00; }
    .table-display table.display tbody tr td span.status-badge.noresuelto {
      background: #b90000; }
    .table-display table.display tbody tr td span.status-badge.poratender {
      background: #666; }
  .table-display table.display tbody tr td a.button-doc {
    border: 1px solid #666;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    color: #1a1a1a;
    text-decoration: none; }
    .table-display table.display tbody tr td a.button-doc:hover {
      background: #1a1a1a;
      color: #fff; }
  .table-display table.display tbody tr.parent td {
    font-weight: bold; }
  .table-display table.display tbody tr.level td:first-child {
    background: url("../images/level-icon.png") no-repeat;
    background-size: 15px 15px;
    background-position: 8px 8px;
    padding-left: 2rem; }
  .table-display table.display tbody tr.sublevel td:first-child {
    background: url("../images/sublevel-icon.png") no-repeat;
    background-size: 30px 15px;
    background-position: 8px 8px;
    padding-left: 3rem; }

.highcharts-figure {
  position: relative; }
  .highcharts-figure .total-number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center; }
    .highcharts-figure .total-number p.number {
      color: #1a1a1a;
      font-weight: bold;
      font-size: 3.25rem;
      line-height: 1.75rem;
      margin-bottom: 0;
      margin-top: 2.5rem; }
      .highcharts-figure .total-number p.number span {
        display: block;
        font-size: 1.3rem; }

.filters-form {
  padding: 1rem;
  background: #eaeaea;
  margin-bottom: 2rem; }
  .filters-form .end {
    margin-top: 30px; }
    @media (max-width: 767px) {
      .filters-form .end {
        margin-top: 1rem; } }
  .filters-form .form-group {
    margin-bottom: 0; }
    @media (max-width: 767px) {
      .filters-form .form-group {
        margin-bottom: 0.5rem; } }
