@import url("bootstrap.min.css");
@import url("jquery.fancybox.min.css");
body {
  background: #f2f2f2;
  font-size: 16px; }

.wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto; }
  .wrapper.login {
    padding: 3rem; }
    @media (max-width: 767px) {
      .wrapper.login {
        padding: 2rem 0 1rem 0; } }
    .wrapper.login .header-app img {
      display: block;
      margin: 0px 0px 0px auto; }
      @media (max-width: 767px) {
        .wrapper.login .header-app img {
          margin: 0 auto; } }
    @media (min-width: 992px) {
      .wrapper.login .logo-app {
        margin-bottom: 3rem; } }
    .wrapper.login .logo-app a {
      display: block; }
      .wrapper.login .logo-app a img {
        display: block;
        margin: 0px auto; }
        @media (max-width: 767px) {
          .wrapper.login .logo-app a img {
            width: 75%; } }
    .wrapper.login .footer p.copyright {
      font-size: 1rem;
      letter-spacing: 2px;
      text-align: center; }
      @media (max-width: 991px) {
        .wrapper.login .footer p.copyright {
          font-size: 0.8rem; } }
    .wrapper.login .footer p.legal {
      text-align: center;
      font-size: 1rem; }

#trueModal {
  max-width: 1000px; }
  #trueModal .header img {
    display: block;
    margin: 0px 0px 0px auto; }
    @media (max-width: 767px) {
      #trueModal .header img {
        margin: 0 auto; } }

.dashboard .sidebar-menu {
  height: 100vh;
  padding: 3rem 1rem 2rem 1rem;
  background: #1a1a1a; }
  @media (max-width: 991px) {
    .dashboard .sidebar-menu {
      height: auto; } }
  .dashboard .sidebar-menu .menu-mobile {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 22vh); }
    .dashboard .sidebar-menu .menu-mobile .avatar-user {
      margin: 0 auto 2rem auto;
      width: 50%; }
    .dashboard .sidebar-menu .menu-mobile .asesor-data {
      text-align: center;
      margin-bottom: 1.5rem; }
      .dashboard .sidebar-menu .menu-mobile .asesor-data h2.adviser-name {
        color: #fff;
        font-size: 1.5rem;
        margin: 0; }
      .dashboard .sidebar-menu .menu-mobile .asesor-data h4.adviser-position {
        color: #b90000;
        text-transform: uppercase;
        margin: 0;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: bold; }
      .dashboard .sidebar-menu .menu-mobile .asesor-data p.adviser-email {
        color: #fff;
        margin: 0; }
    .dashboard .sidebar-menu .menu-mobile ul.navbar-nav {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item {
        width: 100%;
        border-bottom: 1px solid #fff; }
        .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item:last-child {
          border-bottom: 0; }
        .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link {
          color: #fff; }
          .dashboard .sidebar-menu .menu-mobile ul.navbar-nav li.nav-item a.nav-link:hover {
            color: #666; }
    .dashboard .sidebar-menu .menu-mobile .badge {
      margin: 0 auto;
      width: 75%; }
