@import url("bootstrap.min.css");
body {
  background: #f2f2f2;
  font-size: 16px; }

.wrapper {
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #333; }
  .wrapper.login {
    padding: 3rem; }
    .wrapper.login .header-app img {
      display: block;
      margin: 0px 0px 0px auto; }
      @media (max-width: 767px) {
        .wrapper.login .header-app img {
          margin: 0 auto; } }
    .wrapper.login .logo-app a {
      display: block; }
      .wrapper.login .logo-app a img {
        display: block;
        margin: 0px auto; }
