@import url('bootstrap.min.css');
@import url('jquery.fancybox.min.css')

$b: 1rem
$blanco: #fff
$negro: #1a1a1a
$grisfondo: #f2f2f2
$grisheader: #666
$rojo: #b90000
$verde: #009833
$amarillo: #ffcb00


body
    background: #f2f2f2
    font-size: 16px

.wrapper
    max-width: 1280px
    width: 100%
    height: 100vh
    margin: 0 auto
    &.login
        padding: $b*3
        @media (max-width:767px)
            padding: $b*2 0 $b 0
        .header-app
            img
                display: block
                margin: 0px 0px 0px auto
                @media (max-width:767px)
                    margin: 0 auto
        .logo-app
            @media (min-width:992px)
                margin-bottom: $b*3
            a
                display: block
                img
                    display: block
                    margin: 0px auto
                    @media (max-width:767px)
                        width: 75%
        .footer
            p.copyright
                font-size: $b
                letter-spacing: 2px
                text-align: center
                @media (max-width:991px)
                    font-size: $b - 0.2
            p.legal
                text-align: center
                font-size: $b

#trueModal
    max-width: 1000px
    .header
        img
            display: block
            margin: 0px 0px 0px auto
            @media (max-width:767px)
                margin: 0 auto

.dashboard
    .sidebar-menu
        height: 100vh
        padding: $b*3 $b $b*2 $b
        background: $negro
        @media (max-width:991px)
            height: auto
        .menu-mobile
            display: grid !important
            grid-template-columns: 1fr
            grid-template-rows: repeat(4, 22vh)
            .avatar-user
                margin: 0 auto $b*2 auto
                width: 50%
            .asesor-data
                text-align: center
                margin-bottom: $b*1.5
                h2.adviser-name
                    color: $blanco
                    font-size: $b*1.5
                    margin: 0
                h4.adviser-position
                    color: $rojo
                    text-transform: uppercase
                    margin: 0
                    font-size: $b
                    letter-spacing: 1px
                    font-weight: bold
                p.adviser-email
                    color: $blanco
                    margin: 0
            ul.navbar-nav
                display: flex
                flex-direction: column
                width: 100%
                li.nav-item
                    width: 100%
                    border-bottom: 1px solid $blanco
                    &:last-child
                        border-bottom: 0
                    a.nav-link
                        color: $blanco
                        &:hover
                            color: $grisheader
            .badge
                margin: 0 auto
                width: 75%


