doctype html
html(lang="es_MX")

head 
    title Kia Help App
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description", content="Help App")

    |
    |
    |
    <!-- CSS -->
    link(href="css/style.css", rel="stylesheet")



body
    .wrapper
        .login
            .header
                img(src="images/kia-agencia-logo.png")
            .logo
                a(href="#") 
                    img.img-fluid(src="images/helpapp-logo.png")
            .login-form
                form(action="#")
                    .form-group
                        input.form-control.form-control-lg(type="text", placeholder="NOMBRE COMPLETO")
                    .form-group
                        input.form-control.form-control-lg(type="tel", placeholder="NÚMERO DE TELÉFONO")
                    .form-group
                        input.form-control.form-control-lg(type="email", placeholder="CORREO ELECTRÓNICO")
            




    |
    |
    script(src='js/jquery-3.5.1.min.js')

    


