doctype html
html(lang="es_MX")
    head 
        title Kia Help App
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="description", content="Help App")

        |
        |
        |
        <!-- CSS -->
        link(href="css/style.css", rel="stylesheet")



    body
        .dashboard
            .fluid-container
                .row.no-gutters
                    .col-xl-3.col-lg-3.col-md-4.col-sm-12.col-12
                        .sidebar-menu
                            
                            nav.navbar.navbar-expand-md.navbar-dark
                                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExample04", aria-controls="navbarsExample04", aria-expanded="false", aria-label="Toggle navigation")
                                    span.navbar-toggler-icon

                                .navbar-collapse.collapse.menu-mobile#navbarsExample04
                                    .adviser-info
                                        .avatar-user
                                            img.img-fluid(src="images/user-avatar.png", alt="")
                                        .asesor-data
                                            h2.adviser-name José David Gutierrez
                                            h4.adviser-position ASESOR
                                            p.adviser-email josedavidg@kia.com.mx

                                    |
                                    |
                                    ul.navbar-nav
                                        li.nav-item
                                            a.nav-link(href="dashboard.html")
                                                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 91.02 91.02", style="overflow:visible;enable-background:new 0 0 91.02 91.02;", xml:space="preserve")
                                                    path.icons(d="M58.26,91.02c-1.99,0-3.61-1.62-3.61-3.61V61.91L36.4,61.87l-0.03,25.54c0,1.99-1.62,3.61-3.61,3.61H18.18 c-4,0-7.25-3.25-7.25-7.25V50.94h-5.5C2.44,50.94,0,48.5,0,45.51c0-1.44,0.58-2.84,1.59-3.86L42.98,1.03 C43.66,0.36,44.56,0,45.51,0s1.85,0.37,2.53,1.04l41.35,40.59c1.04,1.04,1.63,2.45,1.63,3.89c0,2.99-2.44,5.43-5.43,5.43h-5.5 v32.83c0,4-3.25,7.25-7.25,7.25H58.26z M72.84,83.8l0.03-36.47c0-1.99,1.62-3.61,3.61-3.61h4.73L45.51,8.67L9.8,43.72l4.73,0 c1.99,0,3.61,1.62,3.61,3.61v36.44l11,0.03V61.91c0-4,3.25-7.26,7.25-7.26h18.22c4,0,7.25,3.26,7.25,7.26V83.8H72.84z")
                                                span Dashboard
                                        |
                                        li.nav-item
                                            a.nav-link(href="historial.html") 
                                                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 18.42 18.42", style="overflow:visible;enable-background:new 0 0 91.02 91.02;", xml:space="preserve")
                                                    path.icons(d="M7.02,4.35h4.32c0.3,0,0.54-0.24,0.54-0.54c0-0.3-0.24-0.54-0.54-0.54H7.02c-0.3,0-0.54,0.24-0.54,0.54 C6.48,4.11,6.72,4.35,7.02,4.35z")
                                                    path.icons(d="M7.02,6.51h4.32c0.3,0,0.54-0.24,0.54-0.54c0-0.3-0.24-0.54-0.54-0.54H7.02c-0.3,0-0.54,0.24-0.54,0.54 C6.48,6.27,6.72,6.51,7.02,6.51z")
                                                    path.icons(d="M2.7,8.67h8.64c0.3,0,0.54-0.24,0.54-0.54c0-0.3-0.24-0.54-0.54-0.54H2.7c-0.3,0-0.54,0.24-0.54,0.54 C2.16,8.43,2.4,8.67,2.7,8.67z")
                                                    path.icons(d="M2.7,10.83h6.68c0.3,0,0.54-0.24,0.54-0.54c0-0.3-0.24-0.54-0.54-0.54H2.7c-0.3,0-0.54,0.24-0.54,0.54 C2.16,10.59,2.4,10.83,2.7,10.83z")
                                                    path.icons(d="M14.07,9.75V1.62c0-0.89-0.76-1.62-1.66-1.62H4.86C4.72,0,4.58,0.05,4.47,0.16L0.16,4.51 C0.06,4.61,0,4.75,0,4.89V16.8c0,0.89,0.73,1.62,1.62,1.62c1.14,0,1.52,0,1.52,0c1.66,0,4.91,0,10.94,0c2.38,0,4.35-1.96,4.35-4.35 C18.42,11.69,16.47,9.75,14.07,9.75z M4.32,1.85v2.5H1.84L4.32,1.85z M1.62,17.34c-0.3,0-0.54-0.24-0.54-0.54V5.43h3.78 c0.3,0,0.54-0.24,0.54-0.54V1.08h7.02c0.31,0,0.58,0.25,0.58,0.54v8.27c-1.15,0.29-2.11,1.03-2.69,2.02H2.7 c-0.3,0-0.54,0.24-0.54,0.54c0,0.3,0.24,0.54,0.54,0.54h7.15c-0.09,0.35-0.14,0.71-0.14,1.08H2.7c-0.3,0-0.54,0.24-0.54,0.54 c0,0.3,0.24,0.54,0.54,0.54h7.15c0.22,0.84,0.69,1.6,1.36,2.19H1.62z M14.07,17.34c-1.77,0-3.27-1.5-3.27-3.27 c0-1.79,1.47-3.24,3.27-3.24s3.27,1.45,3.27,3.24C17.34,15.84,15.84,17.34,14.07,17.34z")
                                                    path.icons(d="M15.35,13.14l-1.82,1.79l-0.74-0.71c-0.21-0.21-0.56-0.2-0.76,0.01c-0.21,0.21-0.2,0.56,0.01,0.76l1.12,1.08 c0.21,0.2,0.54,0.2,0.75,0l2.19-2.16c0.21-0.21,0.22-0.55,0.01-0.76C15.9,12.94,15.56,12.94,15.35,13.14z")
                                                span Historial
                                        |
                                        li.nav-item
                                            a.nav-link(href="#")
                                                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 21.83 21.83", style="overflow:visible;enable-background:new 0 0 21.83 21.83;", xml:space="preserve")
                                                    path.icons(d="M12.22,10.11V7.59l-9.79,2.43C1,10.38,0,11.66,0,13.13c0,1.44,0.97,2.71,2.36,3.09l0.2,0.05v5.56h4.42 l-0.64-2.26V17.3l5.88,1.6v-2.83c1.37-0.29,2.41-1.52,2.41-2.98C14.62,11.63,13.59,10.41,12.22,10.11L12.22,10.11z M3.84,10.99 l4.71-1.17v6.75l-4.71-1.28V10.99L3.84,10.99z M1.28,13.13c0-0.82,0.52-1.54,1.28-1.81v3.62C1.8,14.67,1.28,13.95,1.28,13.13 L1.28,13.13z M5.29,20.55H3.84v-3.93l1.22,0.33v2.8L5.29,20.55L5.29,20.55z M10.94,17.22l-1.11-0.3V9.5l1.11-0.28v0.82v6.09V17.22 L10.94,17.22z M12.22,14.74v-3.29c0.66,0.26,1.13,0.9,1.13,1.65C13.34,13.84,12.88,14.48,12.22,14.74z")
                                                    path.icons(d="M18.4,0h-5.85c-1.89,0-3.43,1.54-3.43,3.43c0,1.89,1.54,3.43,3.43,3.43h1.85v2.58l3.19-2.58h0.81 c1.89,0,3.43-1.54,3.43-3.43C21.83,1.54,20.29,0,18.4,0L18.4,0z M18.4,5.58h-1.26l-1.45,1.18V5.58h-3.13 c-1.19,0-2.15-0.96-2.15-2.15c0-1.19,0.96-2.15,2.15-2.15h5.85c1.19,0,2.15,0.96,2.15,2.15C20.55,4.61,19.59,5.58,18.4,5.58z")
                                                    path.icons(d="M13.19,2.88c-0.33,0-0.65,0.29-0.64,0.64c0.02,0.35,0.28,0.64,0.64,0.64c0.33,0,0.66-0.29,0.64-0.64 C13.82,3.17,13.55,2.88,13.19,2.88z")
                                                    path.icons(d="M17.67,2.88c-0.33,0-0.66,0.29-0.64,0.64c0.02,0.35,0.28,0.64,0.64,0.64c0.33,0,0.66-0.29,0.64-0.64 C18.3,3.17,18.03,2.88,17.67,2.88z")
                                                    path.icons(d="M15.49,2.88c-0.33,0-0.66,0.29-0.64,0.64c0.02,0.35,0.28,0.64,0.64,0.64c0.33,0,0.66-0.29,0.64-0.64 C16.11,3.17,15.84,2.88,15.49,2.88z")
                                                span Mensajes
                                        li.nav-item.active
                                            a.nav-link(href="perfiles.html")
                                                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 14.84 17.62", style="overflow:visible;enable-background:new 0 0 14.84 17.62", xml:space="preserve")
                                                    path.icons(d="M14.84,17.62h-1.79c0-3.01-2.52-5.46-5.63-5.46c-3.11,0-5.63,2.45-5.63,5.46H0c0-3.99,3.33-7.25,7.42-7.25 C11.51,10.37,14.84,13.62,14.84,17.62L14.84,17.62z")
                                                    path.icons(d="M7.42,9.79c-2.7,0-4.9-2.2-4.9-4.9c0-2.7,2.2-4.9,4.9-4.9c2.7,0,4.9,2.2,4.9,4.9 C12.32,7.6,10.12,9.79,7.42,9.79L7.42,9.79z M7.42,1.79c-1.72,0-3.11,1.4-3.11,3.11C4.31,6.61,5.71,8,7.42,8 c1.72,0,3.12-1.4,3.12-3.11C10.54,3.18,9.14,1.79,7.42,1.79z")
                                                span Perfiles
                                        li.nav-item
                                            a.nav-link(href="index.html")
                                                svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 16.35 16.32", style="overflow:visible;enable-background:new 0 0 16.35 16.3", xml:space="preserve")
                                                    path.icons(d="M8.15,14.94H2.04c-0.37,0-0.68-0.3-0.68-0.68V2.04c0-0.37,0.3-0.68,0.68-0.68h6.11 c0.38,0,0.68-0.3,0.68-0.68C8.83,0.3,8.52,0,8.15,0H2.04C0.91,0,0,0.91,0,2.04v12.22c0,1.12,0.91,2.04,2.04,2.04h6.11 c0.38,0,0.68-0.3,0.68-0.68C8.83,15.24,8.52,14.94,8.15,14.94z")
                                                    path.icons(d="M16.15,7.66l-4.13-4.07c-0.27-0.26-0.7-0.26-0.96,0.01c-0.26,0.27-0.26,0.7,0.01,0.96l2.95,2.91H6.11 c-0.38,0-0.68,0.3-0.68,0.68c0,0.38,0.3,0.68,0.68,0.68h7.91l-2.95,2.91C10.8,12,10.8,12.43,11.06,12.7 c0.13,0.13,0.31,0.2,0.48,0.2c0.17,0,0.35-0.07,0.48-0.2l4.13-4.07c0.13-0.13,0.2-0.3,0.2-0.48C16.35,7.97,16.28,7.79,16.15,7.66 z")
                                                span Salir
                                    |
                                    |
                                    .badge
                                        img.img-fluid(src="images/helpapp-logo-badge.png")
                        
                                
                                

                    .col-xl-9.col-lg-9.col-md-8.col-sm-12.col-12 
                        .content
                            header
                                .row
                                    .col-lg-12.col-md-12.col-sm-12.col-12
                                        h3 Perfiles
                                        ul.buttons-profiles
                                            li
                                                a.btn.btn-dark(href="nuevo-usuario.html") Añadir Usuario
                                            li
                                                a.btn.btn-secondary(href="nueva-jerarquia.html") Añadir Jerarquia

                            .row
                                .col-lg-12.col-md-12.col-sm-12.col-12
                                    .title-page
                                        h1 Perfiles

                            .row.no-gutters
                                .col-12
                                    .table-display
                                        .table-responsive
                                            table.display#example
                                                thead
                                                    tr
                                                        th Usuarios
                                                        th Correo
                                                        th Jerarquia
                                                tbody
                                                    tr.parent
                                                        td José David Gutiérrez
                                                        td personal@kiavallejo.com
                                                        td Director
                                                    tr.level
                                                        td Manuel Ramírez Hernández
                                                        td nombre@tuempresa.com
                                                        td Gerencia General
                                                    tr.sublevel
                                                        td Raúl Alejandro García
                                                        td nombre@tuempresa.com
                                                        td Gerencia de ventas
                                                    

                                                


        |
        |
        script(src="js/jquery-3.5.1.min.js")
        script(src="js/bootstrap.bundle.min.js")
        script(src="js/jquery.dataTables.min.js")
        script.
            $(document).ready(function() {
                $('#example').DataTable({
                    "language": {
                        "url": "js/Spanish.json"
                    }
                });
            });